@import "../../index.scss";

.container {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    > div {
      @include container;
      text-align: center;
      h1 {
        display: block;
        font-size: 4rem;

        text-transform: uppercase;
        font-family: "Poiret One", cursive;
        font-family: "Arapey", serif;
        font-weight: 300;
      }

      p {
        @include text;
      }

      > div {
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid red;

        a:first-of-type {
          @include link;
          width: 55%;
        }
        a:nth-of-type(2) {
          @include button;
          width: 45%;
        }
      }
    }
  }

  .card {
    padding: 100px 0;
    text-align: center;

    p {
      display: block;
      @include container;
      @include large-text;

      margin-bottom: 50px;
    }
    a {
      @include text;
      @include link;
    }
  }

  .image1 {
    // Parallax
    background-image: url("../../assets/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    position: relative;

    img {
      width: 100%;
    }
  }

  .image2 {
    // Parallax
    background-image: url("../../assets/11.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    position: relative;

    img {
      width: 100%;
    }
  }
  .image3 {
    // Parallax
    background-image: url("../../assets/20.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    position: relative;

    img {
      width: 100%;
    }
  }

  .text {
    @include container;
    padding: 100px 0;
    text-align: center;

    h4 {
      @include text;
      font-weight: 300;
      text-align: center;
      margin-bottom: 50px;
    }

    p {
      @include text;
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
        > div {
          width: 30%;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }

        span {
          @include large-text;
        }
      }
    }

    a {
      @include text;
      @include link;
    }
  }

  .end {
    @include container;
    p {
      @include text;
      text-align: center;
    }
  }
  // Bottom link
  > a {
    display: block;
    padding: 0 0 150px;

    @include phone {
      padding: 0 0 100px;
    }
    width: 100%;
    @include text;
    @include link;
    text-align: center;
  }
}
