@import "../../index.scss";

.container {
  .hero {
    background-color: $linen;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

    > div {
      @include container;
      text-align: center;
      h1 {
        display: block;
        font-size: 6rem;

        text-transform: uppercase;
        font-family: "Poiret One", cursive;

        font-weight: 300;
      }

      p {
        @include large-text;
      }

      > div {
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid red;

        a:first-of-type {
          @include text;
          @include link;
          width: 55%;
        }
        a:nth-of-type(2) {
          @include button;
          @include text;
          width: 45%;
        }
      }
    }
  }

  .card {
    padding: 100px 0;
    text-align: center;
    border: 1px solid;
    > div {
      width: 15%;
      margin: 0 auto;
      margin-bottom: 50px;
      img {
        width: 100%;
      }
    }

    p {
      display: block;
      @include container;
      @include large-text;

      margin-bottom: 50px;
    }
    a {
      @include text;
      @include link;
    }
  }

  .textCard {
    padding: 100px 0;
    text-align: center;
    border: 1px solid;
    > div {
      width: 15%;
      margin: 0 auto;
      margin-bottom: 50px;
      img {
        width: 100%;
      }
    }

    p {
      display: block;
      @include container;
      @include large-text;

      margin-bottom: 50px;

      a {
        @include large-text;
        @include link;
      }
    }

    a {
      @include text;
      @include link;
    }

    > div:nth-of-type(2) {
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      //border: 1px solid red;

      a:first-of-type {
        @include text;
        @include link;
        width: 55%;
      }
      a:nth-of-type(2) {
        @include button;
        @include text;
        width: 45%;
      }
    }
  }

  .img1 {
    // Parallax
    background-image: url("../../assets/sheets.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    position: relative;

    img {
      width: 100%;
    }
  }

  .img2 {
    // Parallax
    background-image: url("../../assets/shirts.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    position: relative;

    img {
      width: 100%;
    }
  }

  .principles {
    border: 1px solid;
    > div {
      @include container;
      padding: 100px 0;
      text-align: center;
    }

    h4 {
      @include text;
      font-weight: 300;
      margin-bottom: 50px;
    }

    p {
      @include text;
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 23%;
        margin-bottom: 50px;
        @include tablet {
          width: 45%;
        }
        @include phone {
          width: 45%;
        }
        display: flex;
        flex-direction: column;
        text-align: center;
        > div {
          width: 20%;
          margin: 0 auto;
          margin-bottom: 25px;
          img {
            width: 100%;
          }
        }
        span {
          @include large-text;
        }
      }
    }

    a {
      @include text;
      @include link;
    }
  }

  // Bottom link
  > a {
    display: block;
    padding: 0 0 150px;

    @include phone {
      padding: 0 0 100px;
    }
    width: 100%;
    @include text;
    @include link;
    text-align: center;
  }
}
