@import "../../index.scss";

.container {
  // Hero screen
  .hero {
    height: 80vh;
    display: flex;

    > div {
      width: 50%;

      &:first-of-type {
        background-color: white;

        > div {
          width: 80%;
          height: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;

          // Name
          h1 {
            font-size: 3rem;

            @include desktop {
              font-size: 4vw;
            }
            margin: 10px 0;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
          }

          // Tagline
          p {
            font-size: 1.5rem;
            @include desktop {
              font-size: 2vw;
            }
            margin: 10px 0;
          }

          // Links
          > div {
            display: flex;
            align-items: center;
            margin: 10px 0;

            // Подробнее о нас
            a:first-of-type {
              @include text;
              @include link;
              margin-right: 15px;
            }

            // Контакты
            a:last-of-type {
              text-decoration: none;
              width: 200px;
              @include text;
              text-align: center;

              @include desktop {
                min-width: 200px;
                width: 10vw;
              }

              border-radius: 2px;
              padding: 8px 0;
              background-color: $black;

              transition: all 0.25s ease;
              cursor: pointer;
              outline: none;

              background-color: none;
              border: 1px solid $black;
              color: white;

              &:hover {
                background-color: transparent;
                border: 1px solid $black;
                color: $black;
              }
            }

            @include tablet {
              flex-direction: column;
              align-items: flex-start;
              a:first-of-type {
                margin-bottom: 25px;
              }
            }
          }
        }
      }

      img {
        height: 80vh;
        object-fit: cover;
      }
    }

    @include phone {
      height: auto;
      flex-direction: column-reverse;

      > div {
        //border: 1px solid;
        width: 100%;

        &:first-of-type {
          div {
            width: 90%;
          }
        }

        img {
          margin-top: 80px;
          margin-bottom: -10px;
          height: 30vh;
        }

        &:first-of-type {
          height: calc(100vh - 30vh - 70px);
        }
      }
    }
  }

  // CTA
  > div:first-of-type {
    background-color: $linen;
    padding: 100px 0;
    @include phone {
      padding: 50px 0;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    > div {
      @include container;
    }

    p {
      margin-bottom: 50px;
      @include phone {
        font-size: 4vw;
      }

      @include tablet {
        font-size: 3vw;
      }

      @include desktop {
        font-size: 2.5vw;
      }
    }
  }

  // Text
  > div:nth-of-type(2) {
    @include container;
    padding: 50px 0;
    p {
      @include text;
      span {
        font-style: oblique;
      }
    }

    ul {
      li {
        @include text;
        margin-bottom: 10px;
        span {
          font-style: oblique;
        }
      }
    }

    a {
      @include link;
    }
  }

  // Bottom link
  > a {
    display: block;
    padding: 0 0 150px;

    @include phone {
      padding: 0 0 100px;
    }
    width: 100%;
    @include text;
    @include link;
    text-align: center;
  }
}
