@import "../../index.scss";

.container {
  @include container;

  // Text
  section {
    @include margin-bottom;
    p {
      @include text;

      a {
        @include link;
      }
    }
  }

  // List
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // Item
    > div,
    i {
      width: 30%;

      @include phone {
        width: 45%;
      }

      @include tablet {
        width: 30%;
      }

      @include margin-bottom;

      > div {
        margin-bottom: 15px;

        p {
          padding: 0;
          margin: 5px 0;
          @include small-text;
          display: flex;
          justify-content: space-between;
          span {
            @include text;
            display: inline-flex;
            align-items: center;
            margin: 0 5px;
          }
        }
      }
    }
  }

  // Item details
  .itemDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    @include phone {
      margin-bottom: 100px;
    }
    @include tablet {
      margin-bottom: 9vw;
    }
    @include desktop {
      margin-bottom: 8vw;
    }

    // Img
    > div:first-of-type {
      width: 40%;

      h1 {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    // Info
    > div:nth-of-type(2) {
      width: 55%;

      // Title
      h1 {
        @include heading;
        margin: 0;
      }

      // Description
      p {
        @include text;
      }

      // Link
      > div {
        width: 50%;
        margin: 25px 0 0;
        a:first-of-type {
          @include button;
          margin-bottom: 25px;
        }
        a:nth-of-type(2) {
          @include text;
          @include link;
        }
      }
    }

    @include phone {
      flex-direction: column;
      // Img
      > div:first-of-type {
        h1 {
          display: block;
        }
        width: 100%;
      }
      // Info
      > div:nth-of-type(2) {
        width: 100%;

        // Title
        h1 {
          display: none;
        }

        // Link
        > div {
          width: 100%;
        }
      }
    }
  }

  // Slider
  .slider {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    // Slide
    > div {
      min-width: 100%;
      transition: 0.5s;
    }

    // Arrows
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3rem;

      @include desktop {
        font-size: 4vw;
      }

      &:first-of-type {
        left: 0;
        padding: 5px 5px 0 0;
      }

      &:nth-of-type(2) {
        right: 0;
        padding: 5px 0 0 5px;
      }

      color: $black;
      background-color: rgba(255, 255, 255, 0.25);
      cursor: pointer;
    }
  }
}
