// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Spinnaker&display=swap");
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  color: #323232;
}

// Colors
$black: #202124;
$gray: #f3f3f3;
$linen: #fff1e6;
$brown: #ddbea9;
$gray: #f0efeb;
// #e7d8c9;

$danger: #d62828;
$blue: #266f90;
// rgb(38,111,144)
$dark-blue: #223a46;

// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// Mixins
@mixin child-container {
  //border: 1px solid red;
  margin: 0 auto;
  width: 90vw;

  @include desktop {
    width: 70vw;
  }
}

// Mixins
@mixin container {
  //border: 1px solid red;
  margin: 0 auto;
  width: 90vw;

  @include desktop {
    width: 70vw;
  }
}

@mixin page-header {
  h1 {
    font-weight: 400;
  }

  @include phone {
    padding: 150px 0 25px;
    h1 {
      font-size: 2rem;
    }
  }

  @include tablet {
    padding: 100px 0 25px;
    h1 {
      font-size: 2.5rem;
    }
    font-family: "Poiret One", cursive;
  }

  @include desktop {
    padding: 100px 0 25px;
    h1 {
      font-size: 3vw;
    }
  }
}

@mixin heading {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;

  @include tablet {
    font-size: 1.75rem;
  }

  @include desktop {
    font-size: 1.75vw;
  }
}

// Body
@mixin text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.5vw;
  }
}

@mixin small-text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}

@mixin large-text {
  font-size: 1.5rem;
  line-height: 1.5;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 3vw;
  }
}

@mixin link {
  color: $black;

  &:hover {
    text-decoration: none;
    color: $brown;
  }
}

@mixin highlight {
  background: linear-gradient(to top, yellow 50%, transparent 50%);
}
img {
  width: 100%;
}

@mixin button {
  text-decoration: none;
  display: block;
  width: 100%;
  @include text;
  text-align: center;
  color: $black;
  padding: 8px 0;
  background-color: none;
  border: 1px solid $black;
  border-radius: 2px;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $black;
    border: 1px solid $black;
    color: white;
  }
  margin: 10px 0;
}

@mixin margin-bottom {
  margin-bottom: 100px;
  @include phone {
    margin-bottom: 50px;
  }
  @include tablet {
    margin-bottom: 7vw;
  }
  @include desktop {
    margin-bottom: 5vw;
  }
}
